body,
html {
    height: 100%;
    width: 100%;
}

.jumbotron1 {
    background-image: url("../assets/backgrounds/landing.jpg");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    text-align: center;
    font-size: 45;
}


/* .jumbotron1 {
    text-align: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 10px;
    margin-bottom: 0;
    background-image: url("../assets/backgrounds/landing.jpg")
} */

.container {
    border-width: 3px;
}

.footer {
    text-align: center;
    background-color: #F15A29;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 20px;
    color: white;
}

.email {
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
}

.btn {
    background: #BEA197;
    color: white;
}

#breakfast {
    background-image: url("../assets/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    color: white;
    padding: 88px;
    font-size: 30;
}

#breakfast:hover {
    opacity: 0.8;
    color: blanchedalmond;
}

#lunch {
    background-image: url("../assets/foodtop/lunch.jpg");
    background-repeat: no-repeat;
    padding: 88px;
    font-size: 30;
    text-align: center;
    background-size: cover;
    color: white;
}

#lunch:hover {
    opacity: 0.8;
    color: blanchedalmond;
}

#dinner {
    background-image: url("../assets/foodtop/dinner.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-size: cover;
    padding: 88px;
    font-size: 30;
    color: white;
}

#dinner:hover {
    opacity: 0.8;
    color: blanchedalmond;
}

#happyhour {
    background-color: #BEA197;
    padding: 42.5px;
}

#partytime {
    background-color: #F15A29;
    padding: 42.5px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}